* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.titlebar {
  -webkit-app-region: drag;
  width: 100%;
  text-align: center;
  padding: 4px;
  position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 180px;
  height: 180px;
}

.btn {
  border-radius: 3px;
  padding: 6px 25px 6px 25px;
  margin: 0;
  float: left;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.left {
  border-radius: 3px 0px 0px 3px;
  border-right: 0;
}

.right {
  border-radius: 0px 3px 3px 0px;
  border-left: 0;
}

.btn:hover {
  background: #333;
  color: #fff;
}
